@import './DocHeader.post.css';

:block(DocComponent) {
    position: absolute;
    left: 0;
    top: 15px;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;

    :block(DocHeader):mod(level 2) {
        margin-left: 15px;
    }
}
