:block(DocPage) {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;

    &:before,
    &:after
    {
        position: absolute;
        z-index: 2;
        height: 10px;
        left: 0;
        right: 0;
        content: '';
        pointer-events: none;
    }

    &:before
    {
        top: 0;
        background: linear-gradient(#fff 2px, rgba(255, 255, 255, 0));
    }

    &:after
    {
        bottom: 0;
        background: linear-gradient(rgba(255, 255, 255, 0), #fff 8px);
    }

    &:elem(content) {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 15px 15px 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        &>*:last-child { /* for ff, it ignores bottom padding */
            margin-bottom: 15px;
        }
    }
}
